#Seeker {
  display: flex;
  background-color: #f3f3f3;
  border: none;
  justify-content: center;
  padding: 5px 10px;
  color: #333333;
  border-radius: 10%;
  width: auto;

  input[type="text"] {
    border: none;
    background: none;
    font-size: 15px;
    padding: 3px;
    outline: none;
    width: 100%;
    margin: 0;

    :hover {
      box-shadow: 2px 2px 5px solid #eeeeee;
    }
  }
  a {
    color: #555555;
  }
}
