@import "../../src/variables";

/* El div que contiene la imágen y el input están aquí, el contenedor es flex para que se pueda adaptar a los distintos
tamaños entre imágen e input además de centrarlos verticalmente */
.searcher {
  box-shadow: $shadeOneNormal;
  border-radius: 20px;
  display: flex;
  align-items: center;
  width: 342px;
  margin: $spacingTwenty-four 0px;
}

.searcher-image {
  padding-left: $spacingSixteen;
  color: $dCTwo;
}

/* Se modifica el input, se añade un borde y el display inlineblock para que pueda estar al lado de la img */
.searcher-input {
  display: inline-block;
  height: 52px;
  background: $tCOne;
  border: none;
  width: 100%;
  margin-left: $spacingForty;
}

/* Al ser clickeado elimino los bordes característicos de un elemento input text */
.searcher-input:focus {
  outline: none;
  border: 0;
}

/* Se modifica las letras del input text, su fuente, su tamaño, su estilo entre otros... */
.searcher-input::placeholder {
  color: $dCTwo;
  padding-inline-end: $spacingForty;
  font-family: $bodyFont;
  font-style: normal;
  font-weight: normal;
  font-size: $mediumBody;
  line-height: $spacingTwenty-four;
}
