@import "../../variables";

#Navigation {
  display: flex;
  width: 100%;
  min-height: 20px;
  max-height: 100px;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px #f1f1f1;
  position: sticky;
  top: 0;
  nav {
    display: flex;
<<<<<<< HEAD
    width: 100%;
    height: 100%;
    justify-content: left;
    align-items: center;
    align-content: center;
    padding: 0;
    margin: 0;
=======
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
  }
  .navigationSeeker {
    width: 50%;
  }
  .navigationUserStatus {
    display: flex;
    justify-content: right;
    float: right;
>>>>>>> 87ffbcb58670e0f288254d1ca9f497ef4c7937b6
  }
}

.navItems {
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      justify-content: center;
      align-items: center;
      list-style: none;
      margin: 0 10px;

      a {
        justify-content: center;
        align-items: center;
        color: #333333;
        text-decoration: none;
        margin: 0;
      }
    }
  }
}
