#Navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 20px;
  max-height: 50px;
  height: auto;
  background-color: $tCTwo;
  box-shadow: 0px 2px 6px #f1f1f1;
  position: sticky;
  top: 0;
  padding: 5px 40px;

  .navigation-searcher {
    width: 30%;
    min-width: 20%;
    height: 90%;
  }

  .nav-Items,
  .nav-Items ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-Items ul li {
    list-style: none;
  }

  .nav-Items ul li a {
    text-decoration: none;
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    color: #2c312d;
  }

  .nav-Items ul li:nth-child(1) {
    margin-right: 24px;
  }

  .nav-Items ul li:nth-child(2) {
    margin-right: 32px;
  }

  .nav-Items ul li:nth-child(3) {
    margin-right: 16px;
    a {
      color: $pCThree;
    }
  }

  .btn {
    background-color: $pColor;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px 16px;
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    line-height: 20px;
    &:hover {
      cursor: pointer;
    }
  }
  .logo {
    text-decoration: none;
    color: #000000;
    a {
      text-decoration: none;
    }
  }

  .logo-img {
    vertical-align: middle;
  }

  .logo-text {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin-left: 8px;
    vertical-align: middle;
  }
}
