#Navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 12vh;
  background-color: $tColor;
  box-shadow: 0px 2px 6px #f1f1f1;
  position: sticky;
  top: 0;
  padding: 5px 40px;

  .navigation-searcher {
    width: 40%;
    min-width: 400px;
    form {
      height: 6vh;
    }
  }

  .nav-items {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        justify-content: center;
        list-style: none;
        margin: 0 10px;

        a:hover {
          color: $pColor;
        }

        a {
          justify-content: center;
          color: #333333;
          text-decoration: none;
          font-size: 1rem;
        }
      }
    }
  }
}

.nav-app-info {
  a {
    text-decoration: none;
    text-transform: capitalize;
    font-style: 700;
    color: $pColor;
    display: flex;
    div {
      margin: 3px;
    }
    :hover,
    :focus {
      color: $sCTwo;
      transition: all 0.5s;
    }
  }
}
