/* --------------------------------------------
   * COLORS
-------------------------------------------- */
$cPrimary: #6705c6; // Color primary
$cSOne: #13f3f0; // Color Secondary one
$cSTwo: #02b6ff; // Color secondary two
$cTertiary: #f6f5f5; // Color tertiary
$cEGreen: #40b218; // Color enfasis green
$cERed: #f44336; // Color enfasis red
$cEYellow: #ffc107; // Color enfasis yellow
$cEPurple: #88317a; // Color enfasis purple
$dColor: #2c312d; //Dark Color

//**********************************

// Color primary light
$cPOne: #ecdafe;
$cPTwo: #c68ffc;
$cPThree: #b369fb;
$cPFour: #8e1ef9;

// color Primary dark
$cPSix: #4d0495;
$cPSeven: #40037c;
$cPEight: #40037c;
$cPNine: #27024a;

//**********************************

// Colors secondary's light
$cSOneOne: #e2fefd;
$cSTwo: #c4fcfb;
$cSoThree: #89f9f8;
$cSoFour: #4ef6f4;

// Colors secondary one light
$cSoSix: #0bdad7;
$cSoSeven: #089c9a;
$cSoEight: #055d5c;
$cSoNine: #033e3e;

//**********************************

// Colors secondary two light
$cStOne: #dff6ff;
$cStTwo: #c0edff;
$cStThree: #81dbff;
$cStFour: #41c8ff;

// Colors secondary two dark
$cStSix: #0089c1;
$cStSeven: #0072a1;
$cStEight: #005b81;
$cStNine: #004560;

//**********************************

// Light colors
$dCOne: #e4e7e5;
$dCTwo: #afb8b0;
$dCThree: #7a887c;
$dCFour: #4a534b;

//dark colors
$dCSix: #262a26;
$dCSeven: #1f2320;
$dCEight: #131513;
$dCNine: #060706;

//**********************************

// Color tertiary light
$cTOne: #ffffff;
$cTTwo: #fcfbfb;
$cTThree: #fbfafa;
$cTFour: #f8f8f8;

// Color tertiary dark
$cTFive: #d9d5d5;
$cTSix: #bcb4b4;
$cTEight: #9f9494;
$cTNine: #817474;

//**********************************

// Color enfasis green light
$cEgOne: #e5fadd;
$cEgTwo: #caf6bb;
$cEgThree: #96ed77;
$cEgFour: #61e433;

// Color enfasis green dark
$cEgSix: #308512;
$cEgSeven: #20590c;
$cEgEight: #184309;
$cEgNine: #102c06;

//**********************************

// Color enfasis red light
$cErOne: #fcd0cd;
$cErTwo: #faa19b;
$cErThree: #f77268;

// Color enfasis green dark
$cErFive: #d4190c;
$cErSix: #8d1108;
$cErSeven: #6a0d06;
$cErEight: #470804;

//**********************************

// Color enfasis yellow light
$cEyOne: #fff7e0;
$cEyTwo: #fff0c1;
$cEyThree: #ffe083;
$cEyFour: #ffd145;

// Color enfasis green dark
$cEySix: #c59300;
$cEySeven: #836200;
$cEyEight: #624a00;
$cEyNine: #423100;

//**********************************

// Color enfasis purple light
$cEpOne: #f4e1f1;
$cEpTwo: #e9c3e3;
$cEpThree: #d487c8;
$cEpFour: #be4cac;

// Color enfasis purple dark
$cEpSix: #66255c;
$cEpSeven: #44183d;
$cEpEight: #33122e;
$cEpNine: #220c1f;

/* --------------------------------------------
   * Spacing variables
-------------------------------------------- */
$spacingFour: 4px;
$spacingEight: 8px;
$spacingSixteen: 16px;
$spacingTwenty-four: 24px;
$spacingThirty-two: 32px;
$spacingForty: 40px;
$spacingForty-eight: 48px;
$spacingFifty-six: 56px;
$spacingSixty-four: 64px;
$spacingSeventy-two: 72px;
$spacingEighty: 80px;

/* --------------------------------------------
   * Spacing buttons
-------------------------------------------- */
$spacingSuperBigButton: 25px;
$spacingBigButton: 22px;
$spacinSemiMiddleButton: 18px;
$spacingSmallButton: 12px;

/* --------------------------------------------
   * Shades
-------------------------------------------- */
//shadows without material
$shadeOneNormal: 0px 1px 2px rgba(112, 92, 92, 0.12);
$shadeTwoNormal: 0px 2px 4px rgba(112, 92, 92, 0.12);
$shadeThreeNormal: 0px 3px 6px rgba(112, 92, 92, 0.12);
$shadeFourNormal: 0px 4px 8px rgba(112, 92, 92, 0.12);
$shadeFiveNormal: 0px 5px 10px rgba(112, 92, 92, 0.12);
$shadeSixNormal: 0px 6px 12px rgba(112, 92, 92, 0.12);

//shadows with material
$shadeOnematerial: 0px 1px 2px rgba(236, 218, 254, 0.64);
$shadeTwoMaterial: 0px 2px 4px rgba(236, 218, 254, 0.64);
$shadeThreeMaterial: 0px 3px 6px rgba(236, 218, 254, 0.64);
$shadeFourMaterial: 0px 4px 8px rgba(236, 218, 254, 0.64);
$shadeFiveMaterial: 0px 5px 10px rgba(236, 218, 254, 0.64);
$shadeSixMaterial: 0px 6px 12px rgba(236, 218, 254, 0.64);

/* --------------------------------------------
   * Text size
-------------------------------------------- */
//titles
$largeTitle: 40px;
$mediumTitle: 36px;
$smallTitle: 30px;

//subtitle
$subtitle: 22px;
$subtitleTwo: 18px;
$smallerSubtitle: 14px;

//text body
$largeBody: 18px;
$mediumBody: 14px;
$smallBody: 16px;
$smallerBody: 12px;

//text emphasis
$bodyEmphasisMedium: 16px;
$bodyEmphasisSmall: 14px;
$bodyEmphasisSmaller: 12px;

//text buttons
$superLargerButton: 30px;
$largeButton: 24px;
$mediumButton: 18px;
$smallButton: 12px;

//text buttons light
$superLargerButtonLight: 30px;
$largeButtonLight: 24px;
$mediumButtonLight: 18px;
$smallButtonLight: 12px;

/* --------------------------------------------
   * FONTS
-------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
// import font 'Source Sans Pro' from 'fonts.google.com - google fonts'

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,700&display=swap"); // Import font 'Lato' from 'fonts.google.com - google fonts'

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); // Import font 'Roboto' from 'fonts.google.com - google fonts'

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap"); // Import font 'Roboto Slab' from 'fonts.google.com - google fonts'

// typography titles and body
$titleFont: "Source Sans Pro", "Lato";
$bodyFont: "Roboto", "Roboto Slab";
