/* --------------------------------------------
   * COLORS
-------------------------------------------- */
$colorPrimary: #6705c6; // Color primary
$colorSecondaryOne: #13f3f0; // Color Secondary one
$colorSecondaryTwo: #02b6ff; // Color secondary two
$colorTertiary: #f6f5f5; // Color tertiary
$colorEnfasisGreen: #40b218; // Color enfasis green
$colorEnfasisRed: #f44336; // Color enfasis red
$colorEnfasisYellow: #ffc107; // Color enfasis yellow
$colorEnfasisPurple: #88317a; // Color enfasis purple

// Color primary light
$cPLightOne: #8e1ef9;
$cPLightTwo: #b369fb;
$cPLightThree: #c68ffc;
$cPLightFour: #ecdafe;
// color Primary dark
$cPDarkOne: #4d0495;
$cPDarkTwo: #40037c;
$cPDarkThree: #40037c;
$cPDarkFour: #27024a;

// Colors secondary's light
$cSOneLightOne: #4ef6f4;
$cSOneLightTwo: #89f9f8;
$cSOneLightThree: #c4fcfb;
$cSOneLightFour: #e2fefd;
// Colors secondary one light
$cSOneDarkOne: #0bdad7;
$cSOneOarkTwo: #089c9a;
$cSOneDarkThree: #055d5c;
$cSOneDarkFour: #033e3e;

// Colors secondary two light
$cSTwoLightOne: #41c8ff;
$cSTwoLightTwo: #81dbff;
$cSTwoLightThree: #c0edff;
$cSTwoLightFour: #dff6ff;
// Colors secondary two dark
$cSTwoDarkOne: #0089c1;
$cSTwoDarkTwo: #0072a1;
$cSTwoDarkThree: #005b81;
$cSTwoDarkFour: #004560;

// Color tertiary light
$cTLightOne: #f8f8f8;
$cTLightTwo: #fbfafa;
$cTLightThree: #fcfbfb;
$cTLightFour: #ffffff;
// Color tertiary dark
$cTDarkOne: #d9d5d5;
$cTDarkTwo: #bcb4b4;
$cTDarkThree: #9f9494;
$cTDarkFour: #817474;

// Color enfasis green light
$cEGreenLghtOne: #61e433;
$cEGreenLightTwo: #96ed77;
$cEGreenLightThree: #caf6bb;
$cEGreenLightFour: #e5fadd;
// Color enfasis green dark
$cEGreenDarkOne: #308512;
$cEGreenDarkTwo: #20590c;
$cEGreenDarkThree: #184309;
$cEGreenGarkFour: #102c06;

// Color enfasis red light
$cERedLightOne: #f77268;
$cERedLightTwo: #faa19b;
$cERedLightThree: #fcd0cd;
$cERedLightFour: none;
// Color enfasis green dark
$cERedDarkOne: #d4190c;
$cERedDarkTwo: #8d1108;
$cERedDarkThree: #6a0d06;
$cERedDarkFour: #470804;

// Color enfasis yellow light
$cEYellowLightOne: #ffd145;
$cEYellowLightTwo: #ffe083;
$cEYellowLightThree: #fff0c1;
$cEYellowLightFour: #fff7e0;
// Color enfasis green dark
$cEYellowDarkOne: #c59300;
$cEYellowDarkTwo: #836200;
$cEYellowDarkThree: #624a00;
$cEYellowDarkFour: #423100;

// Color enfasis purple light
$cEPurpleLightOne: #be4cac;
$cEPurpleLightTwo: #d487c8;
$cEPurpleLightThree: #e9c3e3;
$cEPurpleLightFour: #f4e1f1;
// Color enfasis purple dark
$cEPurpleDarkOne: #66255c;
$cEPurpleDarkTwo: #44183d;
$cEPurpleDarkThree: #33122e;
$cEPurpleDarkFour: #220c1f;

/* --------------------------------------------
   * Spacing variables
-------------------------------------------- */
$spacingFour: 4px;
$spacingEight: 8px;
$spacingSixteen: 16px;
$spacingTwenty-four: 24px;
$spacingThirty-two: 32px;
$spacingForty: 40px;
$spacingForty-eight: 48px;
$spacingFifty-six: 56px;
$spacingSixty-four: 64px;
$spacingSeventy-two: 72px;
$spacingEighty: 80px;

/* --------------------------------------------
   * Spacing buttons
-------------------------------------------- */
$spacingSuperBigButton: 25px;
$spacingBigButton: 22px;
$spacinSemiMiddleButton: 18px;
$spacingSmallButton: 12px;

/* --------------------------------------------
   * Shades
-------------------------------------------- */
//shadows without material
$shadeOneNormal: 0px 1px 2px rgba(112, 92, 92, 0.12);
$shadeTwoNormal: 0px 2px 4px rgba(112, 92, 92, 0.12);
$shadeThreeNormal: 0px 3px 6px rgba(112, 92, 92, 0.12);
$shadeFourNormal: 0px 4px 8px rgba(112, 92, 92, 0.12);
$shadeFiveNormal: 0px 5px 10px rgba(112, 92, 92, 0.12);
$shadeSixNormal: 0px 6px 12px rgba(112, 92, 92, 0.12);

//shadows with material
$shadeOnematerial: 0px 1px 2px rgba(236, 218, 254, 0.64);
$shadeTwoMaterial: 0px 2px 4px rgba(236, 218, 254, 0.64);
$shadeThreeMaterial: 0px 3px 6px rgba(236, 218, 254, 0.64);
$shadeFourMaterial: 0px 4px 8px rgba(236, 218, 254, 0.64);
$shadeFiveMaterial: 0px 5px 10px rgba(236, 218, 254, 0.64);
$shadeSixMaterial: 0px 6px 12px rgba(236, 218, 254, 0.64);

/* --------------------------------------------
   * Text size
-------------------------------------------- */
//titles
$largeTitle: 40px;
$mediumTitle: 36px;
$smallTitle: 30px;

//subtitle
$subtitle: 22px;
$subtitleTwo: 18px;
$smallerSubtitle: 14px;

//text body
$largeBody: 18px;
$mediumBody: 14px;
$smallBody: 16px;
$smallerBody: 12px;

//text emphasis
$bodyEmphasisMedium: 16px;
$bodyEmphasisSmall: 14px;
$bodyEmphasisSmaller: 12px;

//text buttons
$superLargerButton: 30px;
$largeButton: 24px;
$mediumButton: 18px;
$smallButton: 12px;

//text buttons light
$superLargerButtonLight: 30px;
$largeButtonLight: 24px;
$mediumButtonLight: 18px;
$smallButtonLight: 12px;

/* --------------------------------------------
   * FONTS
-------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
// import font 'Source Sans Pro' from 'fonts.google.com - google fonts'

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,700&display=swap"); // Import font 'Lato' from 'fonts.google.com - google fonts'

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); // Import font 'Roboto' from 'fonts.google.com - google fonts'

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap"); // Import font 'Roboto Slab' from 'fonts.google.com - google fonts'

// typography titles and body
$titleFont: "Source Sans Pro", "Lato";
$bodyFont: "Roboto", "Roboto Slab";
