@import "./variables";

body {
  margin: 0;
//<<<<<<< organismo-pageNotFound
  font-family: "segoe UI";
//=======
  font-family: $bodyFont;
//>>>>>>> dev
  font-size: 100%;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
//<<<<<<< organismo-pageNotFound
  font-family: sans-serif;
=======
  font-family: $bodyFont;
//>>>>>>> dev
}
