html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

body {
  margin: 0;
  font-family: $font-family-default;
  font-size: 100%;
  font-style: normal;
}

h1,
h2,
h3,
h4 {
  font-family: $titleFont;
  font-size: 100%;
  font-style: normal;
}

code {
  font-family: $fontCodeDefault;
}
